#div {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
  #div {
     padding: 20px;
  }
}

.center {
  margin: auto;
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 100%;
}



.btn {
  display: flex;
  margin: auto;
  text-align: center;
  box-shadow: 40px;
}

